=begin
#全部  API 文档

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0-SNAPSHOT

=end

require 'cgi'

module ZSGFClient
  class AppApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 应用详情
    # 根据应用Key获取应用的详细信息。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [AppApiResponse]
    def app(app_key, opts = {})
      data, _status_code, _headers = app_with_http_info(app_key, opts)
      data
    end

    # 应用详情
    # 根据应用Key获取应用的详细信息。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppApiResponse, Integer, Hash)>] AppApiResponse data, response status code and response headers
    def app_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppApi.app ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppApi.app"
      end
      # resource path
      local_var_path = '/App/{appKey}'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppApi.app",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppApi#app\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 双因素验证 获取
    # 获取应用的双因素验证信息。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [SetupCodeApiResponse]
    def app2_fa(app_key, opts = {})
      data, _status_code, _headers = app2_fa_with_http_info(app_key, opts)
      data
    end

    # 双因素验证 获取
    # 获取应用的双因素验证信息。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetupCodeApiResponse, Integer, Hash)>] SetupCodeApiResponse data, response status code and response headers
    def app2_fa_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppApi.app2_fa ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppApi.app2_fa"
      end
      # resource path
      local_var_path = '/App/{appKey}/2FA'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SetupCodeApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppApi.app2_fa",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppApi#app2_fa\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 双因素验证 验证
    # 验证应用的双因素验证代码。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code 双因素验证代码
    # @return [BooleanApiResponse]
    def app2_fa_check(app_key, opts = {})
      data, _status_code, _headers = app2_fa_check_with_http_info(app_key, opts)
      data
    end

    # 双因素验证 验证
    # 验证应用的双因素验证代码。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code 双因素验证代码
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def app2_fa_check_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppApi.app2_fa_check ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppApi.app2_fa_check"
      end
      # resource path
      local_var_path = '/App/{appKey}/2FACheck'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppApi.app2_fa_check",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppApi#app2_fa_check\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新应用数据库
    # 检查应用数据库的版本，如果有未应用的迁移且checkOnly为false，则应用这些迁移。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :check_only 是否仅检查版本 (default to true)
    # @return [AppCheckVersionResultApiResponse]
    def app_check_version(app_key, opts = {})
      data, _status_code, _headers = app_check_version_with_http_info(app_key, opts)
      data
    end

    # 更新应用数据库
    # 检查应用数据库的版本，如果有未应用的迁移且checkOnly为false，则应用这些迁移。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :check_only 是否仅检查版本 (default to true)
    # @return [Array<(AppCheckVersionResultApiResponse, Integer, Hash)>] AppCheckVersionResultApiResponse data, response status code and response headers
    def app_check_version_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppApi.app_check_version ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppApi.app_check_version"
      end
      # resource path
      local_var_path = '/App/{appKey}/CheckVersion'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'checkOnly'] = opts[:'check_only'] if !opts[:'check_only'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppCheckVersionResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppApi.app_check_version",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppApi#app_check_version\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 删除应用
    # 根据应用Key删除应用。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def app_delete(app_key, opts = {})
      data, _status_code, _headers = app_delete_with_http_info(app_key, opts)
      data
    end

    # 删除应用
    # 根据应用Key删除应用。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def app_delete_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppApi.app_delete ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppApi.app_delete"
      end
      # resource path
      local_var_path = '/App/{appKey}'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppApi.app_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppApi#app_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 应用详情
    # 根据应用Key获取应用的详细信息和属性。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :prop_code 属性代码
    # @return [AppInfoResultApiResponse]
    def app_info(app_key, opts = {})
      data, _status_code, _headers = app_info_with_http_info(app_key, opts)
      data
    end

    # 应用详情
    # 根据应用Key获取应用的详细信息和属性。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :prop_code 属性代码
    # @return [Array<(AppInfoResultApiResponse, Integer, Hash)>] AppInfoResultApiResponse data, response status code and response headers
    def app_info_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppApi.app_info ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppApi.app_info"
      end
      # resource path
      local_var_path = '/App/{appKey}/Info'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'propCode'] = opts[:'prop_code'] if !opts[:'prop_code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppInfoResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppApi.app_info",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppApi#app_info\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 创建应用
    # 创建一个新的应用。
    # @param [Hash] opts the optional parameters
    # @option opts [App] :app 应用对象
    # @return [AppPostResultApiResponse]
    def app_post(opts = {})
      data, _status_code, _headers = app_post_with_http_info(opts)
      data
    end

    # 创建应用
    # 创建一个新的应用。
    # @param [Hash] opts the optional parameters
    # @option opts [App] :app 应用对象
    # @return [Array<(AppPostResultApiResponse, Integer, Hash)>] AppPostResultApiResponse data, response status code and response headers
    def app_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppApi.app_post ...'
      end
      # resource path
      local_var_path = '/App'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'app'])

      # return_type
      return_type = opts[:debug_return_type] || 'AppPostResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppApi.app_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppApi#app_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新应用
    # 根据应用Key更新应用信息。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [App] :app 应用对象
    # @return [BooleanApiResponse]
    def app_put(app_key, opts = {})
      data, _status_code, _headers = app_put_with_http_info(app_key, opts)
      data
    end

    # 更新应用
    # 根据应用Key更新应用信息。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [App] :app 应用对象
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def app_put_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppApi.app_put ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppApi.app_put"
      end
      # resource path
      local_var_path = '/App/{appKey}'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'app'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppApi.app_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppApi#app_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 转移应用
    # 将应用转移到另一个项目。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id 目标项目ID
    # @return [AppApiResponse]
    def app_transfer(app_key, opts = {})
      data, _status_code, _headers = app_transfer_with_http_info(app_key, opts)
      data
    end

    # 转移应用
    # 将应用转移到另一个项目。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id 目标项目ID
    # @return [Array<(AppApiResponse, Integer, Hash)>] AppApiResponse data, response status code and response headers
    def app_transfer_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppApi.app_transfer ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppApi.app_transfer"
      end
      # resource path
      local_var_path = '/App/{appKey}/Transfer'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppApi.app_transfer",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppApi#app_transfer\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 应用列表
    # 根据项目ID获取应用列表，支持分页。
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id 项目ID
    # @option opts [Integer] :skip 跳过的记录数
    # @option opts [Integer] :take 获取的记录数
    # @return [AppListResultApiResponse]
    def apps(opts = {})
      data, _status_code, _headers = apps_with_http_info(opts)
      data
    end

    # 应用列表
    # 根据项目ID获取应用列表，支持分页。
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :project_id 项目ID
    # @option opts [Integer] :skip 跳过的记录数
    # @option opts [Integer] :take 获取的记录数
    # @return [Array<(AppListResultApiResponse, Integer, Hash)>] AppListResultApiResponse data, response status code and response headers
    def apps_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppApi.apps ...'
      end
      # resource path
      local_var_path = '/App'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppListResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppApi.apps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppApi#apps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
