=begin
#全部  API 文档

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0-SNAPSHOT

=end

require 'cgi'

module ZSGFClient
  class AppSettingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 获取服务分组详情
    # 根据服务分组ID获取服务分组详情
    # @param id [Integer] 服务分组ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [ServiceGroupApiResponse]
    def app_service_setting_group(id, app_key, opts = {})
      data, _status_code, _headers = app_service_setting_group_with_http_info(id, app_key, opts)
      data
    end

    # 获取服务分组详情
    # 根据服务分组ID获取服务分组详情
    # @param id [Integer] 服务分组ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceGroupApiResponse, Integer, Hash)>] ServiceGroupApiResponse data, response status code and response headers
    def app_service_setting_group_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_group ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_service_setting_group"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_group"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Groups/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceGroupApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_group",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_group\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 删除服务分组
    # 根据服务分组ID删除服务分组
    # @param id [Integer] 服务分组ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def app_service_setting_group_delete(id, app_key, opts = {})
      data, _status_code, _headers = app_service_setting_group_delete_with_http_info(id, app_key, opts)
      data
    end

    # 删除服务分组
    # 根据服务分组ID删除服务分组
    # @param id [Integer] 服务分组ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def app_service_setting_group_delete_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_group_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_service_setting_group_delete"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_group_delete"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Groups/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_group_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_group_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 添加服务分组
    # 添加新的服务分组信息
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceGroup] :service_group 服务分组信息
    # @return [AppSettingGroupPostResultApiResponse]
    def app_service_setting_group_post(app_key, opts = {})
      data, _status_code, _headers = app_service_setting_group_post_with_http_info(app_key, opts)
      data
    end

    # 添加服务分组
    # 添加新的服务分组信息
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceGroup] :service_group 服务分组信息
    # @return [Array<(AppSettingGroupPostResultApiResponse, Integer, Hash)>] AppSettingGroupPostResultApiResponse data, response status code and response headers
    def app_service_setting_group_post_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_group_post ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_group_post"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Groups'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'service_group'])

      # return_type
      return_type = opts[:debug_return_type] || 'AppSettingGroupPostResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_group_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_group_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新服务分组
    # 根据服务分组ID更新服务分组信息
    # @param id [Integer] 服务分组ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceGroup] :service_group 服务分组信息
    # @return [BooleanApiResponse]
    def app_service_setting_group_put(id, app_key, opts = {})
      data, _status_code, _headers = app_service_setting_group_put_with_http_info(id, app_key, opts)
      data
    end

    # 更新服务分组
    # 根据服务分组ID更新服务分组信息
    # @param id [Integer] 服务分组ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceGroup] :service_group 服务分组信息
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def app_service_setting_group_put_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_group_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_service_setting_group_put"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_group_put"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Groups/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'service_group'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_group_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_group_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取服务分组列表
    # 根据服务商ID和显示标志获取服务分组列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :provider_id 服务商ID
    # @option opts [Boolean] :show_flag 是否显示 (default to false)
    # @return [ServiceGroupListApiResponse]
    def app_service_setting_groups(app_key, opts = {})
      data, _status_code, _headers = app_service_setting_groups_with_http_info(app_key, opts)
      data
    end

    # 获取服务分组列表
    # 根据服务商ID和显示标志获取服务分组列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :provider_id 服务商ID
    # @option opts [Boolean] :show_flag 是否显示 (default to false)
    # @return [Array<(ServiceGroupListApiResponse, Integer, Hash)>] ServiceGroupListApiResponse data, response status code and response headers
    def app_service_setting_groups_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_groups ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_groups"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Groups'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'providerId'] = opts[:'provider_id'] if !opts[:'provider_id'].nil?
      query_params[:'showFlag'] = opts[:'show_flag'] if !opts[:'show_flag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceGroupListApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_groups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_groups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 服务配置项详情
    # 根据服务配置项ID获取服务配置项详情
    # @param id [Integer] 服务配置项ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [ServiceItemApiResponse]
    def app_service_setting_item(id, app_key, opts = {})
      data, _status_code, _headers = app_service_setting_item_with_http_info(id, app_key, opts)
      data
    end

    # 服务配置项详情
    # 根据服务配置项ID获取服务配置项详情
    # @param id [Integer] 服务配置项ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceItemApiResponse, Integer, Hash)>] ServiceItemApiResponse data, response status code and response headers
    def app_service_setting_item_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_item ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_service_setting_item"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_item"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Items/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceItemApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_item",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_item\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 删除服务配置项
    # 根据服务配置项ID删除服务配置项
    # @param id [Integer] 服务配置项ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def app_service_setting_item_delete(id, app_key, opts = {})
      data, _status_code, _headers = app_service_setting_item_delete_with_http_info(id, app_key, opts)
      data
    end

    # 删除服务配置项
    # 根据服务配置项ID删除服务配置项
    # @param id [Integer] 服务配置项ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def app_service_setting_item_delete_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_item_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_service_setting_item_delete"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_item_delete"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Items/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_item_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_item_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 添加服务配置项
    # 添加新的服务配置项信息
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceItem] :service_item 服务配置项信息
    # @return [AppSettingItemPostResultApiResponse]
    def app_service_setting_item_post(app_key, opts = {})
      data, _status_code, _headers = app_service_setting_item_post_with_http_info(app_key, opts)
      data
    end

    # 添加服务配置项
    # 添加新的服务配置项信息
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceItem] :service_item 服务配置项信息
    # @return [Array<(AppSettingItemPostResultApiResponse, Integer, Hash)>] AppSettingItemPostResultApiResponse data, response status code and response headers
    def app_service_setting_item_post_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_item_post ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_item_post"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Items'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'service_item'])

      # return_type
      return_type = opts[:debug_return_type] || 'AppSettingItemPostResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_item_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_item_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新服务配置项
    # 根据服务配置项ID更新服务配置项信息
    # @param id [Integer] 服务配置项ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceItem] :service_item 服务配置项信息
    # @return [BooleanApiResponse]
    def app_service_setting_item_put(id, app_key, opts = {})
      data, _status_code, _headers = app_service_setting_item_put_with_http_info(id, app_key, opts)
      data
    end

    # 更新服务配置项
    # 根据服务配置项ID更新服务配置项信息
    # @param id [Integer] 服务配置项ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceItem] :service_item 服务配置项信息
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def app_service_setting_item_put_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_item_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_service_setting_item_put"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_item_put"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Items/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'service_item'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_item_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_item_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 服务配置项列表
    # 根据业务代码、服务商代码、分组代码和显示标志获取服务配置项列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :biz_code 业务代码
    # @option opts [String] :provider_code 服务商代码
    # @option opts [String] :group_code 分组代码
    # @option opts [Boolean] :show_flag 是否显示 (default to false)
    # @return [ServiceItemListApiResponse]
    def app_service_setting_items(app_key, opts = {})
      data, _status_code, _headers = app_service_setting_items_with_http_info(app_key, opts)
      data
    end

    # 服务配置项列表
    # 根据业务代码、服务商代码、分组代码和显示标志获取服务配置项列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :biz_code 业务代码
    # @option opts [String] :provider_code 服务商代码
    # @option opts [String] :group_code 分组代码
    # @option opts [Boolean] :show_flag 是否显示 (default to false)
    # @return [Array<(ServiceItemListApiResponse, Integer, Hash)>] ServiceItemListApiResponse data, response status code and response headers
    def app_service_setting_items_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_items ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_items"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Items'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bizCode'] = opts[:'biz_code'] if !opts[:'biz_code'].nil?
      query_params[:'providerCode'] = opts[:'provider_code'] if !opts[:'provider_code'].nil?
      query_params[:'groupCode'] = opts[:'group_code'] if !opts[:'group_code'].nil?
      query_params[:'showFlag'] = opts[:'show_flag'] if !opts[:'show_flag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceItemListApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_items",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_items\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取服务商详情
    # 根据服务商ID获取服务商详情
    # @param id [Integer] 服务商ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [ServiceProviderApiResponse]
    def app_service_setting_provider(id, app_key, opts = {})
      data, _status_code, _headers = app_service_setting_provider_with_http_info(id, app_key, opts)
      data
    end

    # 获取服务商详情
    # 根据服务商ID获取服务商详情
    # @param id [Integer] 服务商ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ServiceProviderApiResponse, Integer, Hash)>] ServiceProviderApiResponse data, response status code and response headers
    def app_service_setting_provider_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_provider ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_service_setting_provider"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_provider"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Providers/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceProviderApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 删除服务商
    # 根据服务商ID删除服务商
    # @param id [Integer] 服务商ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def app_service_setting_provider_delete(id, app_key, opts = {})
      data, _status_code, _headers = app_service_setting_provider_delete_with_http_info(id, app_key, opts)
      data
    end

    # 删除服务商
    # 根据服务商ID删除服务商
    # @param id [Integer] 服务商ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def app_service_setting_provider_delete_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_provider_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_service_setting_provider_delete"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_provider_delete"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Providers/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_provider_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_provider_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 添加服务商
    # 添加新的服务商信息
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceProvider] :service_provider 服务商信息
    # @return [AppSettingProviderPostResultApiResponse]
    def app_service_setting_provider_post(app_key, opts = {})
      data, _status_code, _headers = app_service_setting_provider_post_with_http_info(app_key, opts)
      data
    end

    # 添加服务商
    # 添加新的服务商信息
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceProvider] :service_provider 服务商信息
    # @return [Array<(AppSettingProviderPostResultApiResponse, Integer, Hash)>] AppSettingProviderPostResultApiResponse data, response status code and response headers
    def app_service_setting_provider_post_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_provider_post ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_provider_post"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Providers'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'service_provider'])

      # return_type
      return_type = opts[:debug_return_type] || 'AppSettingProviderPostResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_provider_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_provider_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新服务商
    # 根据服务商ID更新服务商信息
    # @param id [Integer] 服务商ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceProvider] :service_provider 服务商信息
    # @return [BooleanApiResponse]
    def app_service_setting_provider_put(id, app_key, opts = {})
      data, _status_code, _headers = app_service_setting_provider_put_with_http_info(id, app_key, opts)
      data
    end

    # 更新服务商
    # 根据服务商ID更新服务商信息
    # @param id [Integer] 服务商ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ServiceProvider] :service_provider 服务商信息
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def app_service_setting_provider_put_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_provider_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_service_setting_provider_put"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_provider_put"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Providers/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'service_provider'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_provider_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_provider_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取服务商列表
    # 根据业务代码和显示标志获取服务商列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :biz_code 业务代码
    # @option opts [Boolean] :show_flag 是否显示 (default to false)
    # @return [ServiceProviderListApiResponse]
    def app_service_setting_providers(app_key, opts = {})
      data, _status_code, _headers = app_service_setting_providers_with_http_info(app_key, opts)
      data
    end

    # 获取服务商列表
    # 根据业务代码和显示标志获取服务商列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :biz_code 业务代码
    # @option opts [Boolean] :show_flag 是否显示 (default to false)
    # @return [Array<(ServiceProviderListApiResponse, Integer, Hash)>] ServiceProviderListApiResponse data, response status code and response headers
    def app_service_setting_providers_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_service_setting_providers ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_service_setting_providers"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/Providers'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'bizCode'] = opts[:'biz_code'] if !opts[:'biz_code'].nil?
      query_params[:'showFlag'] = opts[:'show_flag'] if !opts[:'show_flag'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ServiceProviderListApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_service_setting_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_service_setting_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 配置详情
    # 根据配置ID获取配置详情
    # @param id [Integer] 配置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [AppSettingApiResponse]
    def app_setting(id, app_key, opts = {})
      data, _status_code, _headers = app_setting_with_http_info(id, app_key, opts)
      data
    end

    # 配置详情
    # 根据配置ID获取配置详情
    # @param id [Integer] 配置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AppSettingApiResponse, Integer, Hash)>] AppSettingApiResponse data, response status code and response headers
    def app_setting_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_setting ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_setting"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_setting"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppSettingApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_setting",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_setting\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 删除配置
    # 根据配置ID删除配置
    # @param id [Integer] 配置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def app_setting_delete(id, app_key, opts = {})
      data, _status_code, _headers = app_setting_delete_with_http_info(id, app_key, opts)
      data
    end

    # 删除配置
    # 根据配置ID删除配置
    # @param id [Integer] 配置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def app_setting_delete_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_setting_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_setting_delete"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_setting_delete"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_setting_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_setting_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 增加配置
    # 添加新的配置内容
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AppSetting] :app_setting 配置内容
    # @return [AppSettingSettingPostResultApiResponse]
    def app_setting_post(app_key, opts = {})
      data, _status_code, _headers = app_setting_post_with_http_info(app_key, opts)
      data
    end

    # 增加配置
    # 添加新的配置内容
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AppSetting] :app_setting 配置内容
    # @return [Array<(AppSettingSettingPostResultApiResponse, Integer, Hash)>] AppSettingSettingPostResultApiResponse data, response status code and response headers
    def app_setting_post_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_setting_post ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_setting_post"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'app_setting'])

      # return_type
      return_type = opts[:debug_return_type] || 'AppSettingSettingPostResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_setting_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_setting_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新配置
    # 根据配置ID更新配置内容
    # @param id [Integer] 配置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AppSetting] :app_setting 配置内容
    # @return [BooleanApiResponse]
    def app_setting_put(id, app_key, opts = {})
      data, _status_code, _headers = app_setting_put_with_http_info(id, app_key, opts)
      data
    end

    # 更新配置
    # 根据配置ID更新配置内容
    # @param id [Integer] 配置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AppSetting] :app_setting 配置内容
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def app_setting_put_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_setting_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AppSettingApi.app_setting_put"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_setting_put"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'app_setting'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_setting_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_setting_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 配置列表
    # 根据服务商代码、分组代码、标签和配置项代码获取配置列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider_code 服务商代码
    # @option opts [String] :group_code 分组代码
    # @option opts [String] :tag 标签
    # @option opts [String] :code 配置项代码
    # @return [AppSettingListApiResponse]
    def app_settings(app_key, opts = {})
      data, _status_code, _headers = app_settings_with_http_info(app_key, opts)
      data
    end

    # 配置列表
    # 根据服务商代码、分组代码、标签和配置项代码获取配置列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :provider_code 服务商代码
    # @option opts [String] :group_code 分组代码
    # @option opts [String] :tag 标签
    # @option opts [String] :code 配置项代码
    # @return [Array<(AppSettingListApiResponse, Integer, Hash)>] AppSettingListApiResponse data, response status code and response headers
    def app_settings_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AppSettingApi.app_settings ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AppSettingApi.app_settings"
      end
      # resource path
      local_var_path = '/AppSetting/{appKey}'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'providerCode'] = opts[:'provider_code'] if !opts[:'provider_code'].nil?
      query_params[:'groupCode'] = opts[:'group_code'] if !opts[:'group_code'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AppSettingListApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AppSettingApi.app_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AppSettingApi#app_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
