=begin
#全部  API 文档

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0-SNAPSHOT

=end

require 'cgi'

module ZSGFClient
  class AuthorizePolicyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 获取鉴权策略列表
    # 根据鉴权类型和策略名称获取鉴权策略列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :auth_type 鉴权类型（access_token、user、role）
    # @option opts [String] :policy_name 策略名称
    # @return [AuthorizePolicyListApiResponse]
    def authorize_policies(app_key, opts = {})
      data, _status_code, _headers = authorize_policies_with_http_info(app_key, opts)
      data
    end

    # 获取鉴权策略列表
    # 根据鉴权类型和策略名称获取鉴权策略列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :auth_type 鉴权类型（access_token、user、role）
    # @option opts [String] :policy_name 策略名称
    # @return [Array<(AuthorizePolicyListApiResponse, Integer, Hash)>] AuthorizePolicyListApiResponse data, response status code and response headers
    def authorize_policies_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthorizePolicyApi.authorize_policies ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AuthorizePolicyApi.authorize_policies"
      end
      # resource path
      local_var_path = '/AuthorizePolicy/{appKey}'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'authType'] = opts[:'auth_type'] if !opts[:'auth_type'].nil?
      query_params[:'policyName'] = opts[:'policy_name'] if !opts[:'policy_name'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthorizePolicyListApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AuthorizePolicyApi.authorize_policies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizePolicyApi#authorize_policies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取鉴权策略详情
    # 根据鉴权策略ID获取鉴权策略详情
    # @param id [Integer] 鉴权策略ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [AuthorizePolicyApiResponse]
    def authorize_policy(id, app_key, opts = {})
      data, _status_code, _headers = authorize_policy_with_http_info(id, app_key, opts)
      data
    end

    # 获取鉴权策略详情
    # 根据鉴权策略ID获取鉴权策略详情
    # @param id [Integer] 鉴权策略ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthorizePolicyApiResponse, Integer, Hash)>] AuthorizePolicyApiResponse data, response status code and response headers
    def authorize_policy_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthorizePolicyApi.authorize_policy ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthorizePolicyApi.authorize_policy"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AuthorizePolicyApi.authorize_policy"
      end
      # resource path
      local_var_path = '/AuthorizePolicy/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AuthorizePolicyApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AuthorizePolicyApi.authorize_policy",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizePolicyApi#authorize_policy\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 删除鉴权策略
    # 根据鉴权策略ID删除鉴权策略
    # @param id [Integer] 鉴权策略ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def authorize_policy_delete(id, app_key, opts = {})
      data, _status_code, _headers = authorize_policy_delete_with_http_info(id, app_key, opts)
      data
    end

    # 删除鉴权策略
    # 根据鉴权策略ID删除鉴权策略
    # @param id [Integer] 鉴权策略ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def authorize_policy_delete_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthorizePolicyApi.authorize_policy_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthorizePolicyApi.authorize_policy_delete"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AuthorizePolicyApi.authorize_policy_delete"
      end
      # resource path
      local_var_path = '/AuthorizePolicy/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AuthorizePolicyApi.authorize_policy_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizePolicyApi#authorize_policy_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 添加鉴权策略
    # 添加新的鉴权策略
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthorizePolicy] :authorize_policy 鉴权策略对象
    # @return [CreatePostResultApiResponse]
    def authorize_policy_post(app_key, opts = {})
      data, _status_code, _headers = authorize_policy_post_with_http_info(app_key, opts)
      data
    end

    # 添加鉴权策略
    # 添加新的鉴权策略
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthorizePolicy] :authorize_policy 鉴权策略对象
    # @return [Array<(CreatePostResultApiResponse, Integer, Hash)>] CreatePostResultApiResponse data, response status code and response headers
    def authorize_policy_post_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthorizePolicyApi.authorize_policy_post ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AuthorizePolicyApi.authorize_policy_post"
      end
      # resource path
      local_var_path = '/AuthorizePolicy/{appKey}'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'authorize_policy'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePostResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AuthorizePolicyApi.authorize_policy_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizePolicyApi#authorize_policy_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新鉴权策略
    # 根据鉴权策略ID更新鉴权策略
    # @param id [Integer] 鉴权策略ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthorizePolicy] :authorize_policy 鉴权策略对象
    # @return [BooleanApiResponse]
    def authorize_policy_put(id, app_key, opts = {})
      data, _status_code, _headers = authorize_policy_put_with_http_info(id, app_key, opts)
      data
    end

    # 更新鉴权策略
    # 根据鉴权策略ID更新鉴权策略
    # @param id [Integer] 鉴权策略ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [AuthorizePolicy] :authorize_policy 鉴权策略对象
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def authorize_policy_put_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthorizePolicyApi.authorize_policy_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AuthorizePolicyApi.authorize_policy_put"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling AuthorizePolicyApi.authorize_policy_put"
      end
      # resource path
      local_var_path = '/AuthorizePolicy/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'authorize_policy'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"AuthorizePolicyApi.authorize_policy_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthorizePolicyApi#authorize_policy_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
