=begin
#全部  API 文档

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0-SNAPSHOT

=end

require 'cgi'

module ZSGFClient
  class CurrencyApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 获取货币列表
    # 获取所有货币的列表，按ID降序排列。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [CurrencyListApiResponse]
    def currencies(app_key, opts = {})
      data, _status_code, _headers = currencies_with_http_info(app_key, opts)
      data
    end

    # 获取货币列表
    # 获取所有货币的列表，按ID降序排列。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CurrencyListApiResponse, Integer, Hash)>] CurrencyListApiResponse data, response status code and response headers
    def currencies_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.currencies ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling CurrencyApi.currencies"
      end
      # resource path
      local_var_path = '/Currency/{appKey}'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurrencyListApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CurrencyApi.currencies",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#currencies\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取货币详情
    # 根据货币ID获取货币的详细信息。
    # @param id [Integer] 货币ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [CurrencyApiResponse]
    def currency(id, app_key, opts = {})
      data, _status_code, _headers = currency_with_http_info(id, app_key, opts)
      data
    end

    # 获取货币详情
    # 根据货币ID获取货币的详细信息。
    # @param id [Integer] 货币ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CurrencyApiResponse, Integer, Hash)>] CurrencyApiResponse data, response status code and response headers
    def currency_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.currency ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CurrencyApi.currency"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling CurrencyApi.currency"
      end
      # resource path
      local_var_path = '/Currency/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurrencyApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CurrencyApi.currency",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#currency\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 删除货币
    # 根据货币ID删除货币。
    # @param id [Integer] 货币ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def currency_delete(id, app_key, opts = {})
      data, _status_code, _headers = currency_delete_with_http_info(id, app_key, opts)
      data
    end

    # 删除货币
    # 根据货币ID删除货币。
    # @param id [Integer] 货币ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def currency_delete_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.currency_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CurrencyApi.currency_delete"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling CurrencyApi.currency_delete"
      end
      # resource path
      local_var_path = '/Currency/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CurrencyApi.currency_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#currency_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 删除汇率
    # 根据汇率ID删除汇率。
    # @param id [Integer] 汇率ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def currency_exchange_rate_delete(id, app_key, opts = {})
      data, _status_code, _headers = currency_exchange_rate_delete_with_http_info(id, app_key, opts)
      data
    end

    # 删除汇率
    # 根据汇率ID删除汇率。
    # @param id [Integer] 汇率ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def currency_exchange_rate_delete_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.currency_exchange_rate_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CurrencyApi.currency_exchange_rate_delete"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling CurrencyApi.currency_exchange_rate_delete"
      end
      # resource path
      local_var_path = '/Currency/{appKey}/ExchangeRates/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CurrencyApi.currency_exchange_rate_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#currency_exchange_rate_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新汇率
    # 根据货币代码更新汇率信息。
    # @param code [String] 货币代码
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ExchangeRatePutRequest] :exchange_rate_put_request 汇率信息
    # @return [Int64ApiResponse]
    def currency_exchange_rate_put(code, app_key, opts = {})
      data, _status_code, _headers = currency_exchange_rate_put_with_http_info(code, app_key, opts)
      data
    end

    # 更新汇率
    # 根据货币代码更新汇率信息。
    # @param code [String] 货币代码
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ExchangeRatePutRequest] :exchange_rate_put_request 汇率信息
    # @return [Array<(Int64ApiResponse, Integer, Hash)>] Int64ApiResponse data, response status code and response headers
    def currency_exchange_rate_put_with_http_info(code, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.currency_exchange_rate_put ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling CurrencyApi.currency_exchange_rate_put"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling CurrencyApi.currency_exchange_rate_put"
      end
      # resource path
      local_var_path = '/Currency/{appKey}/ExchangeRates/{code}'.sub('{' + 'code' + '}', CGI.escape(code.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'exchange_rate_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int64ApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CurrencyApi.currency_exchange_rate_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#currency_exchange_rate_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取汇率列表
    # 根据货币代码获取该货币的汇率列表。
    # @param code [String] 货币代码
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [CurrencyExchangeRateApiResponse]
    def currency_exchange_rates(code, app_key, opts = {})
      data, _status_code, _headers = currency_exchange_rates_with_http_info(code, app_key, opts)
      data
    end

    # 获取汇率列表
    # 根据货币代码获取该货币的汇率列表。
    # @param code [String] 货币代码
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CurrencyExchangeRateApiResponse, Integer, Hash)>] CurrencyExchangeRateApiResponse data, response status code and response headers
    def currency_exchange_rates_with_http_info(code, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.currency_exchange_rates ...'
      end
      # verify the required parameter 'code' is set
      if @api_client.config.client_side_validation && code.nil?
        fail ArgumentError, "Missing the required parameter 'code' when calling CurrencyApi.currency_exchange_rates"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling CurrencyApi.currency_exchange_rates"
      end
      # resource path
      local_var_path = '/Currency/{appKey}/ExchangeRates/{code}'.sub('{' + 'code' + '}', CGI.escape(code.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurrencyExchangeRateApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CurrencyApi.currency_exchange_rates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#currency_exchange_rates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 创建新货币
    # 创建一个新的货币并返回其ID。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Currency] :currency 货币信息
    # @return [Int64ApiResponse]
    def currency_post(app_key, opts = {})
      data, _status_code, _headers = currency_post_with_http_info(app_key, opts)
      data
    end

    # 创建新货币
    # 创建一个新的货币并返回其ID。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Currency] :currency 货币信息
    # @return [Array<(Int64ApiResponse, Integer, Hash)>] Int64ApiResponse data, response status code and response headers
    def currency_post_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.currency_post ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling CurrencyApi.currency_post"
      end
      # resource path
      local_var_path = '/Currency/{appKey}'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'currency'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int64ApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CurrencyApi.currency_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#currency_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新货币信息
    # 根据货币ID更新货币的详细信息。
    # @param id [Integer] 货币ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Currency] :currency 货币信息
    # @return [BooleanApiResponse]
    def currency_put(id, app_key, opts = {})
      data, _status_code, _headers = currency_put_with_http_info(id, app_key, opts)
      data
    end

    # 更新货币信息
    # 根据货币ID更新货币的详细信息。
    # @param id [Integer] 货币ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Currency] :currency 货币信息
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def currency_put_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.currency_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling CurrencyApi.currency_put"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling CurrencyApi.currency_put"
      end
      # resource path
      local_var_path = '/Currency/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'currency'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CurrencyApi.currency_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#currency_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取货币交易记录
    # 根据用户ID、交易类型、货币代码、时间范围等条件获取货币交易记录。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :user_id 用户ID
    # @option opts [String] :trans_type 交易类型
    # @option opts [String] :cur_code 货币代码
    # @option opts [Time] :start_time 开始时间
    # @option opts [Time] :end_time 结束时间
    # @option opts [Integer] :skip 跳过的条数
    # @option opts [Integer] :take 拉取的条数
    # @return [CurrencyTransactionListApiResponse]
    def currency_transactions(app_key, opts = {})
      data, _status_code, _headers = currency_transactions_with_http_info(app_key, opts)
      data
    end

    # 获取货币交易记录
    # 根据用户ID、交易类型、货币代码、时间范围等条件获取货币交易记录。
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :user_id 用户ID
    # @option opts [String] :trans_type 交易类型
    # @option opts [String] :cur_code 货币代码
    # @option opts [Time] :start_time 开始时间
    # @option opts [Time] :end_time 结束时间
    # @option opts [Integer] :skip 跳过的条数
    # @option opts [Integer] :take 拉取的条数
    # @return [Array<(CurrencyTransactionListApiResponse, Integer, Hash)>] CurrencyTransactionListApiResponse data, response status code and response headers
    def currency_transactions_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CurrencyApi.currency_transactions ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling CurrencyApi.currency_transactions"
      end
      # resource path
      local_var_path = '/Currency/{appKey}/Transactions'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'transType'] = opts[:'trans_type'] if !opts[:'trans_type'].nil?
      query_params[:'curCode'] = opts[:'cur_code'] if !opts[:'cur_code'].nil?
      query_params[:'startTime'] = opts[:'start_time'] if !opts[:'start_time'].nil?
      query_params[:'endTime'] = opts[:'end_time'] if !opts[:'end_time'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CurrencyTransactionListApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"CurrencyApi.currency_transactions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CurrencyApi#currency_transactions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
