=begin
#全部  API 文档

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.13.0-SNAPSHOT

=end

require 'cgi'

module ZSGFClient
  class UserApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # 获取用户详情
    # 根据用户ID获取用户详情
    # @param id [Integer] 用户ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [UserApiResponse]
    def user(id, app_key, opts = {})
      data, _status_code, _headers = user_with_http_info(id, app_key, opts)
      data
    end

    # 获取用户详情
    # 根据用户ID获取用户详情
    # @param id [Integer] 用户ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserApiResponse, Integer, Hash)>] UserApiResponse data, response status code and response headers
    def user_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.user"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user"
      end
      # resource path
      local_var_path = '/User/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 清空用户数据
    # 清空用户数据
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def user_clear(app_key, opts = {})
      data, _status_code, _headers = user_clear_with_http_info(app_key, opts)
      data
    end

    # 清空用户数据
    # 清空用户数据
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_clear_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_clear ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_clear"
      end
      # resource path
      local_var_path = '/User/{appKey}/Clear'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_clear",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_clear\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 有共同爱好的用户推荐
    # 推荐有共同爱好的用户
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag 兴趣标签
    # @option opts [Integer] :skip 跳过的记录数 (default to 0)
    # @option opts [Integer] :take 获取的记录数 (default to 10)
    # @return [UserCommonInterestsResultApiResponse]
    def user_common_interests(app_key, opts = {})
      data, _status_code, _headers = user_common_interests_with_http_info(app_key, opts)
      data
    end

    # 有共同爱好的用户推荐
    # 推荐有共同爱好的用户
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag 兴趣标签
    # @option opts [Integer] :skip 跳过的记录数 (default to 0)
    # @option opts [Integer] :take 获取的记录数 (default to 10)
    # @return [Array<(UserCommonInterestsResultApiResponse, Integer, Hash)>] UserCommonInterestsResultApiResponse data, response status code and response headers
    def user_common_interests_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_common_interests ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_common_interests"
      end
      # resource path
      local_var_path = '/User/{appKey}/Friends/CommonInterests'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserCommonInterestsResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_common_interests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_common_interests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 注销账号
    # 清除用户所有附属数据，并注销账号
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def user_deactivate_hard(app_key, opts = {})
      data, _status_code, _headers = user_deactivate_hard_with_http_info(app_key, opts)
      data
    end

    # 注销账号
    # 清除用户所有附属数据，并注销账号
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_deactivate_hard_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_deactivate_hard ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_deactivate_hard"
      end
      # resource path
      local_var_path = '/User/{appKey}/DeactivateHard'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_deactivate_hard",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_deactivate_hard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 删除用户
    # 根据用户ID删除用户
    # @param id [Integer] 用户ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def user_delete(id, app_key, opts = {})
      data, _status_code, _headers = user_delete_with_http_info(id, app_key, opts)
      data
    end

    # 删除用户
    # 根据用户ID删除用户
    # @param id [Integer] 用户ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_delete_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.user_delete"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_delete"
      end
      # resource path
      local_var_path = '/User/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 邮箱登录
    # 使用邮箱进行登录
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailSignInRequest] :email_sign_in_request 登录请求参数
    # @return [TokenModelApiResponse]
    def user_email_sign_in(app_key, opts = {})
      data, _status_code, _headers = user_email_sign_in_with_http_info(app_key, opts)
      data
    end

    # 邮箱登录
    # 使用邮箱进行登录
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailSignInRequest] :email_sign_in_request 登录请求参数
    # @return [Array<(TokenModelApiResponse, Integer, Hash)>] TokenModelApiResponse data, response status code and response headers
    def user_email_sign_in_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_email_sign_in ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_email_sign_in"
      end
      # resource path
      local_var_path = '/User/{appKey}/EmailSignIn'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'email_sign_in_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TokenModelApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_email_sign_in",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_email_sign_in\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 邮箱注册
    # 使用邮箱进行注册
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailSignUpRequest] :email_sign_up_request 注册请求参数
    # @return [TokenModelApiResponse]
    def user_email_sign_up(app_key, opts = {})
      data, _status_code, _headers = user_email_sign_up_with_http_info(app_key, opts)
      data
    end

    # 邮箱注册
    # 使用邮箱进行注册
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [EmailSignUpRequest] :email_sign_up_request 注册请求参数
    # @return [Array<(TokenModelApiResponse, Integer, Hash)>] TokenModelApiResponse data, response status code and response headers
    def user_email_sign_up_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_email_sign_up ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_email_sign_up"
      end
      # resource path
      local_var_path = '/User/{appKey}/EmailSignUp'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'email_sign_up_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TokenModelApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_email_sign_up",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_email_sign_up\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 导出用户数据
    # 导出所有用户数据为Excel文件
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def user_export(app_key, opts = {})
      data, _status_code, _headers = user_export_with_http_info(app_key, opts)
      data
    end

    # 导出用户数据
    # 导出所有用户数据为Excel文件
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def user_export_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_export ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_export"
      end
      # resource path
      local_var_path = '/User/{appKey}/Export'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/vnd.openxmlformats-officedocument.spreadsheetml.sheet']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_export",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_export\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 关注用户
    # 关注指定用户
    # @param user_id [Integer] 要关注的用户ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def user_follow_user(user_id, app_key, opts = {})
      data, _status_code, _headers = user_follow_user_with_http_info(user_id, app_key, opts)
      data
    end

    # 关注用户
    # 关注指定用户
    # @param user_id [Integer] 要关注的用户ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_follow_user_with_http_info(user_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_follow_user ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserApi.user_follow_user"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_follow_user"
      end
      # resource path
      local_var_path = '/User/{appKey}/Follower/{userId}'.sub('{' + 'userId' + '}', CGI.escape(user_id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_follow_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_follow_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新粉丝
    # 根据粉丝ID更新粉丝信息
    # @param id [Integer] 粉丝ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [FollowerPutModel] :follower_put_model 更新粉丝的请求参数
    # @return [BooleanApiResponse]
    def user_follower_put(id, app_key, opts = {})
      data, _status_code, _headers = user_follower_put_with_http_info(id, app_key, opts)
      data
    end

    # 更新粉丝
    # 根据粉丝ID更新粉丝信息
    # @param id [Integer] 粉丝ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [FollowerPutModel] :follower_put_model 更新粉丝的请求参数
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_follower_put_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_follower_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.user_follower_put"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_follower_put"
      end
      # resource path
      local_var_path = '/User/{appKey}/Follower/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'follower_put_model'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_follower_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_follower_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取我的粉丝列表
    # 根据条件获取我的粉丝列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag 标签
    # @option opts [String] :status 状态
    # @option opts [Integer] :target_user_id 指定用户的粉丝 (default to 0)
    # @option opts [Integer] :skip 跳过的记录数 (default to 0)
    # @option opts [Integer] :take 获取的记录数 (default to 10)
    # @return [UserFollowersResultApiResponse]
    def user_followers(app_key, opts = {})
      data, _status_code, _headers = user_followers_with_http_info(app_key, opts)
      data
    end

    # 获取我的粉丝列表
    # 根据条件获取我的粉丝列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag 标签
    # @option opts [String] :status 状态
    # @option opts [Integer] :target_user_id 指定用户的粉丝 (default to 0)
    # @option opts [Integer] :skip 跳过的记录数 (default to 0)
    # @option opts [Integer] :take 获取的记录数 (default to 10)
    # @return [Array<(UserFollowersResultApiResponse, Integer, Hash)>] UserFollowersResultApiResponse data, response status code and response headers
    def user_followers_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_followers ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_followers"
      end
      # resource path
      local_var_path = '/User/{appKey}/Followers'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'targetUserId'] = opts[:'target_user_id'] if !opts[:'target_user_id'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserFollowersResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_followers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_followers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取当前用户的关注列表，或者判断是否关注某个特定用户。
    # 根据条件获取我的关注列表，或判断是否关注某个用户
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag 用于过滤关注列表的标签（可选）。
    # @option opts [String] :status 用于过滤关注列表的状态（可选）。
    # @option opts [Integer] :target_user_id 指定用户的关注记录，如果不提供则默认为当前用户的关注。 (default to 0)
    # @option opts [Integer] :skip 跳过的记录数，用于分页（默认0）。 (default to 0)
    # @option opts [Integer] :take 获取的记录数，用于分页（默认10）。 (default to 10)
    # @option opts [Integer] :check_user_id 要判断是否关注的目标用户ID。如果提供此参数，方法将返回一个布尔值，表示当前用户是否关注该目标用户。
    # @option opts [Boolean] :only_ids 是否只返回关注用户的ID集合，默认为false（即返回完整的关注用户信息）。 (default to false)
    # @return [BooleanApiResponse]
    def user_following(app_key, opts = {})
      data, _status_code, _headers = user_following_with_http_info(app_key, opts)
      data
    end

    # 获取当前用户的关注列表，或者判断是否关注某个特定用户。
    # 根据条件获取我的关注列表，或判断是否关注某个用户
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag 用于过滤关注列表的标签（可选）。
    # @option opts [String] :status 用于过滤关注列表的状态（可选）。
    # @option opts [Integer] :target_user_id 指定用户的关注记录，如果不提供则默认为当前用户的关注。 (default to 0)
    # @option opts [Integer] :skip 跳过的记录数，用于分页（默认0）。 (default to 0)
    # @option opts [Integer] :take 获取的记录数，用于分页（默认10）。 (default to 10)
    # @option opts [Integer] :check_user_id 要判断是否关注的目标用户ID。如果提供此参数，方法将返回一个布尔值，表示当前用户是否关注该目标用户。
    # @option opts [Boolean] :only_ids 是否只返回关注用户的ID集合，默认为false（即返回完整的关注用户信息）。 (default to false)
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_following_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_following ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_following"
      end
      # resource path
      local_var_path = '/User/{appKey}/Following'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'targetUserId'] = opts[:'target_user_id'] if !opts[:'target_user_id'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?
      query_params[:'checkUserId'] = opts[:'check_user_id'] if !opts[:'check_user_id'].nil?
      query_params[:'onlyIDs'] = opts[:'only_ids'] if !opts[:'only_ids'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_following",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_following\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取附近的用户推荐列表
    # 根据地理位置坐标和多种筛选条件，查询附近满足条件的用户列表，支持分页和按距离排序。 地理位置查询使用MySQL的ST_Distance_Sphere函数计算球面距离。 注意：longitude为经度(X轴)，latitude为纬度(Y轴)，参数顺序与常规坐标系一致
    # @param longitude [Float] 当前用户经度坐标(WGS84坐标系)
    # @param latitude [Float] 当前用户纬度坐标(WGS84坐标系)
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country 国家过滤条件（精确匹配）
    # @option opts [String] :state 省份过滤条件（精确匹配）
    # @option opts [String] :city 城市过滤条件（精确匹配）
    # @option opts [String] :district 区县过滤条件（精确匹配）
    # @option opts [String] :gender 性别过滤条件（可选值示例：Male/Female/Other）
    # @option opts [Integer] :age_s 年龄起始范围（包含，0表示不限制）
    # @option opts [Integer] :age_e 年龄结束范围（包含，0表示不限制）
    # @option opts [String] :tag 兴趣标签过滤（支持模糊匹配，如：\&quot;运动\&quot;）
    # @option opts [Integer] :distance 搜索半径（单位：米，0表示不限制距离） (default to 0)
    # @option opts [Integer] :skip 跳过的记录数（分页起始位置，默认0） (default to 0)
    # @option opts [Integer] :take 获取的记录数（分页大小，默认10，最大100） (default to 10)
    # @return [UserFriendsNearByResultApiResponse]
    def user_friends_near_by(longitude, latitude, app_key, opts = {})
      data, _status_code, _headers = user_friends_near_by_with_http_info(longitude, latitude, app_key, opts)
      data
    end

    # 获取附近的用户推荐列表
    # 根据地理位置坐标和多种筛选条件，查询附近满足条件的用户列表，支持分页和按距离排序。 地理位置查询使用MySQL的ST_Distance_Sphere函数计算球面距离。 注意：longitude为经度(X轴)，latitude为纬度(Y轴)，参数顺序与常规坐标系一致
    # @param longitude [Float] 当前用户经度坐标(WGS84坐标系)
    # @param latitude [Float] 当前用户纬度坐标(WGS84坐标系)
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :country 国家过滤条件（精确匹配）
    # @option opts [String] :state 省份过滤条件（精确匹配）
    # @option opts [String] :city 城市过滤条件（精确匹配）
    # @option opts [String] :district 区县过滤条件（精确匹配）
    # @option opts [String] :gender 性别过滤条件（可选值示例：Male/Female/Other）
    # @option opts [Integer] :age_s 年龄起始范围（包含，0表示不限制）
    # @option opts [Integer] :age_e 年龄结束范围（包含，0表示不限制）
    # @option opts [String] :tag 兴趣标签过滤（支持模糊匹配，如：\&quot;运动\&quot;）
    # @option opts [Integer] :distance 搜索半径（单位：米，0表示不限制距离） (default to 0)
    # @option opts [Integer] :skip 跳过的记录数（分页起始位置，默认0） (default to 0)
    # @option opts [Integer] :take 获取的记录数（分页大小，默认10，最大100） (default to 10)
    # @return [Array<(UserFriendsNearByResultApiResponse, Integer, Hash)>] UserFriendsNearByResultApiResponse data, response status code and response headers
    def user_friends_near_by_with_http_info(longitude, latitude, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_friends_near_by ...'
      end
      # verify the required parameter 'longitude' is set
      if @api_client.config.client_side_validation && longitude.nil?
        fail ArgumentError, "Missing the required parameter 'longitude' when calling UserApi.user_friends_near_by"
      end
      # verify the required parameter 'latitude' is set
      if @api_client.config.client_side_validation && latitude.nil?
        fail ArgumentError, "Missing the required parameter 'latitude' when calling UserApi.user_friends_near_by"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_friends_near_by"
      end
      # resource path
      local_var_path = '/User/{appKey}/Friends/NearBy'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'longitude'] = longitude
      query_params[:'latitude'] = latitude
      query_params[:'country'] = opts[:'country'] if !opts[:'country'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?
      query_params[:'city'] = opts[:'city'] if !opts[:'city'].nil?
      query_params[:'district'] = opts[:'district'] if !opts[:'district'].nil?
      query_params[:'gender'] = opts[:'gender'] if !opts[:'gender'].nil?
      query_params[:'ageS'] = opts[:'age_s'] if !opts[:'age_s'].nil?
      query_params[:'ageE'] = opts[:'age_e'] if !opts[:'age_e'].nil?
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'distance'] = opts[:'distance'] if !opts[:'distance'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserFriendsNearByResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_friends_near_by",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_friends_near_by\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 导入用户数据
    # 导入用户数据
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :check 是否进行检查
    # @option opts [File] :file 导入的文件
    # @return [BooleanApiResponse]
    def user_import(app_key, opts = {})
      data, _status_code, _headers = user_import_with_http_info(app_key, opts)
      data
    end

    # 导入用户数据
    # 导入用户数据
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Boolean] :check 是否进行检查
    # @option opts [File] :file 导入的文件
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_import_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_import ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_import"
      end
      # resource path
      local_var_path = '/User/{appKey}/Import'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'check'] = opts[:'check'] if !opts[:'check'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['file'] = opts[:'file'] if !opts[:'file'].nil?

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_import",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_import\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取位置详情
    # 根据位置ID获取位置详情
    # @param id [Integer] 位置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [GeoLocationModelApiResponse]
    def user_location(id, app_key, opts = {})
      data, _status_code, _headers = user_location_with_http_info(id, app_key, opts)
      data
    end

    # 获取位置详情
    # 根据位置ID获取位置详情
    # @param id [Integer] 位置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GeoLocationModelApiResponse, Integer, Hash)>] GeoLocationModelApiResponse data, response status code and response headers
    def user_location_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_location ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.user_location"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_location"
      end
      # resource path
      local_var_path = '/User/{appKey}/Location/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GeoLocationModelApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_location",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_location\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 删除位置
    # 根据位置ID删除位置信息
    # @param id [Integer] 位置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def user_location_delete(id, app_key, opts = {})
      data, _status_code, _headers = user_location_delete_with_http_info(id, app_key, opts)
      data
    end

    # 删除位置
    # 根据位置ID删除位置信息
    # @param id [Integer] 位置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_location_delete_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_location_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.user_location_delete"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_location_delete"
      end
      # resource path
      local_var_path = '/User/{appKey}/Location/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_location_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_location_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 添加位置
    # 添加新的位置信息
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [GeoLocationModel] :geo_location_model 位置信息
    # @return [UserLocationPostResultApiResponse]
    def user_location_post(app_key, opts = {})
      data, _status_code, _headers = user_location_post_with_http_info(app_key, opts)
      data
    end

    # 添加位置
    # 添加新的位置信息
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [GeoLocationModel] :geo_location_model 位置信息
    # @return [Array<(UserLocationPostResultApiResponse, Integer, Hash)>] UserLocationPostResultApiResponse data, response status code and response headers
    def user_location_post_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_location_post ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_location_post"
      end
      # resource path
      local_var_path = '/User/{appKey}/Location'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'geo_location_model'])

      # return_type
      return_type = opts[:debug_return_type] || 'UserLocationPostResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_location_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_location_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新位置
    # 此方法用于更新指定位置ID的位置信息。如果位置不存在，则创建一个新的位置。
    # @param id [Integer] 位置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [GeoLocationModel] :geo_location_model 位置信息
    # @return [BooleanApiResponse]
    def user_location_put(id, app_key, opts = {})
      data, _status_code, _headers = user_location_put_with_http_info(id, app_key, opts)
      data
    end

    # 更新位置
    # 此方法用于更新指定位置ID的位置信息。如果位置不存在，则创建一个新的位置。
    # @param id [Integer] 位置ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [GeoLocationModel] :geo_location_model 位置信息
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_location_put_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_location_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.user_location_put"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_location_put"
      end
      # resource path
      local_var_path = '/User/{appKey}/Location/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'geo_location_model'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_location_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_location_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取位置列表
    # 根据条件获取位置列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag 标签
    # @option opts [String] :type 分类
    # @option opts [Float] :x 纬度
    # @option opts [Float] :y 经度
    # @option opts [Integer] :sphere 附近距离，单位：米
    # @option opts [Integer] :skip 跳过的记录数
    # @option opts [Integer] :take 获取的记录数 (default to 10)
    # @return [UserLocationsResultApiResponse]
    def user_locations(app_key, opts = {})
      data, _status_code, _headers = user_locations_with_http_info(app_key, opts)
      data
    end

    # 获取位置列表
    # 根据条件获取位置列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tag 标签
    # @option opts [String] :type 分类
    # @option opts [Float] :x 纬度
    # @option opts [Float] :y 经度
    # @option opts [Integer] :sphere 附近距离，单位：米
    # @option opts [Integer] :skip 跳过的记录数
    # @option opts [Integer] :take 获取的记录数 (default to 10)
    # @return [Array<(UserLocationsResultApiResponse, Integer, Hash)>] UserLocationsResultApiResponse data, response status code and response headers
    def user_locations_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_locations ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_locations"
      end
      # resource path
      local_var_path = '/User/{appKey}/Locations'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tag'] = opts[:'tag'] if !opts[:'tag'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'x'] = opts[:'x'] if !opts[:'x'].nil?
      query_params[:'y'] = opts[:'y'] if !opts[:'y'].nil?
      query_params[:'sphere'] = opts[:'sphere'] if !opts[:'sphere'].nil?
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserLocationsResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_locations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_locations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 有共同粉丝的用户推荐
    # 推荐有共同粉丝的用户
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :skip 跳过的记录数 (default to 0)
    # @option opts [Integer] :take 获取的记录数 (default to 10)
    # @return [UserMutualFollowersResultApiResponse]
    def user_mutual_followers(app_key, opts = {})
      data, _status_code, _headers = user_mutual_followers_with_http_info(app_key, opts)
      data
    end

    # 有共同粉丝的用户推荐
    # 推荐有共同粉丝的用户
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :skip 跳过的记录数 (default to 0)
    # @option opts [Integer] :take 获取的记录数 (default to 10)
    # @return [Array<(UserMutualFollowersResultApiResponse, Integer, Hash)>] UserMutualFollowersResultApiResponse data, response status code and response headers
    def user_mutual_followers_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_mutual_followers ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_mutual_followers"
      end
      # resource path
      local_var_path = '/User/{appKey}/Friends/MutualFollowers'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserMutualFollowersResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_mutual_followers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_mutual_followers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 有共同关注的用户推荐
    # 推荐有共同关注的用户
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :skip 跳过的记录数 (default to 0)
    # @option opts [Integer] :take 获取的记录数 (default to 10)
    # @return [UserMutualFollowingsResultApiResponse]
    def user_mutual_followings(app_key, opts = {})
      data, _status_code, _headers = user_mutual_followings_with_http_info(app_key, opts)
      data
    end

    # 有共同关注的用户推荐
    # 推荐有共同关注的用户
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :skip 跳过的记录数 (default to 0)
    # @option opts [Integer] :take 获取的记录数 (default to 10)
    # @return [Array<(UserMutualFollowingsResultApiResponse, Integer, Hash)>] UserMutualFollowingsResultApiResponse data, response status code and response headers
    def user_mutual_followings_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_mutual_followings ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_mutual_followings"
      end
      # resource path
      local_var_path = '/User/{appKey}/Friends/MutualFollowings'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'skip'] = opts[:'skip'] if !opts[:'skip'].nil?
      query_params[:'take'] = opts[:'take'] if !opts[:'take'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserMutualFollowingsResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_mutual_followings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_mutual_followings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 外部账号 绑定，如果已存在绑定则直接返回成功
    # 绑定外部账号
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OAuthAccountBindRequest] :o_auth_account_bind_request 绑定请求参数
    # @return [BooleanApiResponse]
    def user_o_auth_account_bind(app_key, opts = {})
      data, _status_code, _headers = user_o_auth_account_bind_with_http_info(app_key, opts)
      data
    end

    # 外部账号 绑定，如果已存在绑定则直接返回成功
    # 绑定外部账号
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OAuthAccountBindRequest] :o_auth_account_bind_request 绑定请求参数
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_o_auth_account_bind_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_o_auth_account_bind ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_o_auth_account_bind"
      end
      # resource path
      local_var_path = '/User/{appKey}/OAuthAccountBind'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'o_auth_account_bind_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_o_auth_account_bind",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_o_auth_account_bind\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 外部账号 登录
    # 使用外部账号进行登录
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OAuthAccountSignInRequest] :o_auth_account_sign_in_request 登录请求参数
    # @return [TokenModelApiResponse]
    def user_o_auth_account_sign_in(app_key, opts = {})
      data, _status_code, _headers = user_o_auth_account_sign_in_with_http_info(app_key, opts)
      data
    end

    # 外部账号 登录
    # 使用外部账号进行登录
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OAuthAccountSignInRequest] :o_auth_account_sign_in_request 登录请求参数
    # @return [Array<(TokenModelApiResponse, Integer, Hash)>] TokenModelApiResponse data, response status code and response headers
    def user_o_auth_account_sign_in_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_o_auth_account_sign_in ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_o_auth_account_sign_in"
      end
      # resource path
      local_var_path = '/User/{appKey}/OAuthAccountSignIn'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'o_auth_account_sign_in_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TokenModelApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_o_auth_account_sign_in",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_o_auth_account_sign_in\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 外部账号 绑定列表
    # 获取外部账号绑定列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [UserLoginsListApiResponse]
    def user_o_auth_accounts(app_key, opts = {})
      data, _status_code, _headers = user_o_auth_accounts_with_http_info(app_key, opts)
      data
    end

    # 外部账号 绑定列表
    # 获取外部账号绑定列表
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserLoginsListApiResponse, Integer, Hash)>] UserLoginsListApiResponse data, response status code and response headers
    def user_o_auth_accounts_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_o_auth_accounts ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_o_auth_accounts"
      end
      # resource path
      local_var_path = '/User/{appKey}/OAuthAccounts'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserLoginsListApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_o_auth_accounts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_o_auth_accounts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 外部账号 更新绑定
    # 更新外部账号绑定信息
    # @param id [Integer] 绑定ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OAuthAccountPutBindRequest] :o_auth_account_put_bind_request 更新请求参数
    # @return [BooleanApiResponse]
    def user_o_auth_accounts_put_bind(id, app_key, opts = {})
      data, _status_code, _headers = user_o_auth_accounts_put_bind_with_http_info(id, app_key, opts)
      data
    end

    # 外部账号 更新绑定
    # 更新外部账号绑定信息
    # @param id [Integer] 绑定ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OAuthAccountPutBindRequest] :o_auth_account_put_bind_request 更新请求参数
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_o_auth_accounts_put_bind_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_o_auth_accounts_put_bind ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.user_o_auth_accounts_put_bind"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_o_auth_accounts_put_bind"
      end
      # resource path
      local_var_path = '/User/{appKey}/OAuthAccounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'o_auth_account_put_bind_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_o_auth_accounts_put_bind",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_o_auth_accounts_put_bind\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 外部账号 删除绑定
    # 删除外部账号绑定
    # @param id [Integer] 绑定ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [BooleanApiResponse]
    def user_o_auth_accounts_un_bind(id, app_key, opts = {})
      data, _status_code, _headers = user_o_auth_accounts_un_bind_with_http_info(id, app_key, opts)
      data
    end

    # 外部账号 删除绑定
    # 删除外部账号绑定
    # @param id [Integer] 绑定ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_o_auth_accounts_un_bind_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_o_auth_accounts_un_bind ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.user_o_auth_accounts_un_bind"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_o_auth_accounts_un_bind"
      end
      # resource path
      local_var_path = '/User/{appKey}/OAuthAccounts/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_o_auth_accounts_un_bind",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_o_auth_accounts_un_bind\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 手机登录
    # 使用手机号码进行登录
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PhoneSignInRequest] :phone_sign_in_request 登录请求参数
    # @return [TokenModelApiResponse]
    def user_phone_sign_in(app_key, opts = {})
      data, _status_code, _headers = user_phone_sign_in_with_http_info(app_key, opts)
      data
    end

    # 手机登录
    # 使用手机号码进行登录
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PhoneSignInRequest] :phone_sign_in_request 登录请求参数
    # @return [Array<(TokenModelApiResponse, Integer, Hash)>] TokenModelApiResponse data, response status code and response headers
    def user_phone_sign_in_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_phone_sign_in ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_phone_sign_in"
      end
      # resource path
      local_var_path = '/User/{appKey}/PhoneSignIn'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'phone_sign_in_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TokenModelApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_phone_sign_in",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_phone_sign_in\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 手机注册
    # 使用手机号码进行注册
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PhoneSignUpRequest] :phone_sign_up_request 注册请求参数
    # @return [TokenModelApiResponse]
    def user_phone_sign_up(app_key, opts = {})
      data, _status_code, _headers = user_phone_sign_up_with_http_info(app_key, opts)
      data
    end

    # 手机注册
    # 使用手机号码进行注册
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PhoneSignUpRequest] :phone_sign_up_request 注册请求参数
    # @return [Array<(TokenModelApiResponse, Integer, Hash)>] TokenModelApiResponse data, response status code and response headers
    def user_phone_sign_up_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_phone_sign_up ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_phone_sign_up"
      end
      # resource path
      local_var_path = '/User/{appKey}/PhoneSignUp'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'phone_sign_up_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TokenModelApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_phone_sign_up",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_phone_sign_up\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取个人资料
    # 获取当前用户的个人资料
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [UserProfileResultApiResponse]
    def user_profile(app_key, opts = {})
      data, _status_code, _headers = user_profile_with_http_info(app_key, opts)
      data
    end

    # 获取个人资料
    # 获取当前用户的个人资料
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UserProfileResultApiResponse, Integer, Hash)>] UserProfileResultApiResponse data, response status code and response headers
    def user_profile_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_profile ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_profile"
      end
      # resource path
      local_var_path = '/User/{appKey}/Profile'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UserProfileResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_profile",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_profile\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 获取指定用户资料
    # 用于他人主页展示
    # @param user_id [Integer] 用户ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetUserProfileResultApiResponse]
    def user_profile_by_id(user_id, app_key, opts = {})
      data, _status_code, _headers = user_profile_by_id_with_http_info(user_id, app_key, opts)
      data
    end

    # 获取指定用户资料
    # 用于他人主页展示
    # @param user_id [Integer] 用户ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUserProfileResultApiResponse, Integer, Hash)>] GetUserProfileResultApiResponse data, response status code and response headers
    def user_profile_by_id_with_http_info(user_id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_profile_by_id ...'
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling UserApi.user_profile_by_id"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_profile_by_id"
      end
      # resource path
      local_var_path = '/User/{appKey}/Profile/{userId}'.sub('{' + 'userId' + '}', CGI.escape(user_id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserProfileResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_profile_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_profile_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 更新用户信息
    # 根据用户ID更新用户信息
    # @param id [Integer] 用户ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [User] :user 用户信息
    # @return [BooleanApiResponse]
    def user_put(id, app_key, opts = {})
      data, _status_code, _headers = user_put_with_http_info(id, app_key, opts)
      data
    end

    # 更新用户信息
    # 根据用户ID更新用户信息
    # @param id [Integer] 用户ID
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [User] :user 用户信息
    # @return [Array<(BooleanApiResponse, Integer, Hash)>] BooleanApiResponse data, response status code and response headers
    def user_put_with_http_info(id, app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_put ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling UserApi.user_put"
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_put"
      end
      # resource path
      local_var_path = '/User/{appKey}/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'user'])

      # return_type
      return_type = opts[:debug_return_type] || 'BooleanApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 微信小程序 - 预登陆
    # 使用微信小程序二维码进行预登陆
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QRCodePreSignInRequest] :qr_code_pre_sign_in_request 预登陆请求参数
    # @return [Int64ApiResponse]
    def user_qr_code_pre_sign_in(app_key, opts = {})
      data, _status_code, _headers = user_qr_code_pre_sign_in_with_http_info(app_key, opts)
      data
    end

    # 微信小程序 - 预登陆
    # 使用微信小程序二维码进行预登陆
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QRCodePreSignInRequest] :qr_code_pre_sign_in_request 预登陆请求参数
    # @return [Array<(Int64ApiResponse, Integer, Hash)>] Int64ApiResponse data, response status code and response headers
    def user_qr_code_pre_sign_in_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_qr_code_pre_sign_in ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_qr_code_pre_sign_in"
      end
      # resource path
      local_var_path = '/User/{appKey}/QRCodePreSignIn'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'qr_code_pre_sign_in_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Int64ApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_qr_code_pre_sign_in",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_qr_code_pre_sign_in\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 微信小程序 - 扫码
    # 使用微信小程序二维码进行扫码
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QRCodeScanRequest] :qr_code_scan_request 扫码请求参数
    # @return [UserQRCodeScanResultApiResponse]
    def user_qr_code_scan(app_key, opts = {})
      data, _status_code, _headers = user_qr_code_scan_with_http_info(app_key, opts)
      data
    end

    # 微信小程序 - 扫码
    # 使用微信小程序二维码进行扫码
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QRCodeScanRequest] :qr_code_scan_request 扫码请求参数
    # @return [Array<(UserQRCodeScanResultApiResponse, Integer, Hash)>] UserQRCodeScanResultApiResponse data, response status code and response headers
    def user_qr_code_scan_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_qr_code_scan ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_qr_code_scan"
      end
      # resource path
      local_var_path = '/User/{appKey}/QRCodeScan'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'qr_code_scan_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'UserQRCodeScanResultApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
        :operation => :"UserApi.user_qr_code_scan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: UserApi#user_qr_code_scan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # 微信小程序 - 网页登录
    # 使用微信小程序二维码进行网页登录
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QRCodeSignInRequest] :qr_code_sign_in_request 登录请求参数
    # @return [TokenModelApiResponse]
    def user_qr_code_sign_in(app_key, opts = {})
      data, _status_code, _headers = user_qr_code_sign_in_with_http_info(app_key, opts)
      data
    end

    # 微信小程序 - 网页登录
    # 使用微信小程序二维码进行网页登录
    # @param app_key [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [QRCodeSignInRequest] :qr_code_sign_in_request 登录请求参数
    # @return [Array<(TokenModelApiResponse, Integer, Hash)>] TokenModelApiResponse data, response status code and response headers
    def user_qr_code_sign_in_with_http_info(app_key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: UserApi.user_qr_code_sign_in ...'
      end
      # verify the required parameter 'app_key' is set
      if @api_client.config.client_side_validation && app_key.nil?
        fail ArgumentError, "Missing the required parameter 'app_key' when calling UserApi.user_qr_code_sign_in"
      end
      # resource path
      local_var_path = '/User/{appKey}/QRCodeSignIn'.sub('{' + 'appKey' + '}', CGI.escape(app_key.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json-patch+json', 'application/json', 'text/json', 'application/*+json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'qr_code_sign_in_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'TokenModelApiResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Bearer']

      new_options = opts.merge(
[...]
